
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Leech</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="{{#if isHome}}active{{/if}}"><a href="/">Home</a></li>
        <li class="{{#if isAbout}}active{{/if}}"><a href="/about">About</a></li>
        <li class="{{#if isSetup}}active{{/if}}"><a href="/setup">Setup</a></li>
        <li class="{{#if isHistory}}active{{/if}}"><a href="/history">History</a></li>
      </ul>
    </nav>
  </div>
</div>
