<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Leech</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/setup">Setup</a></li>
              <li><a href="/urls">History</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">What is Leech?</h1>
        <p>
          Leach is an under-engineered link shortener. Leech has no database or server and can be configured with your 
          own custom domain name. The only requirement is this 2 page application which you can launch for free on Heroku
          by clicking the button below.
        </p>
        <p>
          Leech hooks up to a Google Analytics account which serves are your database and UI for reporting. This is also free.
        </p>
        <p>
          How does Leech do this without a server? This application (the one that generates the URL) sets up a static website on AWS S3. This will
          run you about $0.01 a month.
        </p>
        <p>
          Each short URL becomes a HTML page. Each page is about 844 Kb and when opened, it will trigger the Google Analytics API call as 
          and perform the redirect to the full URL.
        </p>
        <!-- Deploy to Heorku button -->
        <a href="https://heroku.com/deploy?template=https://github.com/glamp/leech"><img src="https://www.herokucdn.com/deploy/button.png"></a>
      </div>

      {{>footer}}

    </div>

  </div>

</div>
