  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#page-top">Remora</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                      <a href="#portfolio">Portfolio</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#about">About</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <img class="img-responsive" src="img/profile.png" alt="">
                  <div class="intro-text">
                      <span class="name">Remora</span>
                      <hr class="star-light">
                      <span class="skills">No Server, No Database, No Problem.</span>
                      <hr class="star-light">
                  </div>
              </div>
              <div class="row text-center">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="url">Email address</label>
                    <input type="text" class="form-control" id="url" placeholder="Enter a url to shorten">
                  </div>
                  <button type="submit" class="btn btn-default">Shorten</button>
                </form>
              </div>
          </div>
      </div>
  </header>


  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                          <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                          <ul class="list-inline item-details">
                              <li>Client:
                                  <strong><a href="http://startbootstrap.com">Remora</a>
                                  </strong>
                              </li>
                              <li>Date:
                                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                  </strong>
                              </li>
                              <li>Service:
                                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                  </strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
