<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Leech</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/setup">Setup</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <!-- if we just shortened a URL -->
        {{#if url}}
          <p class="lead">
            <h1><a href="//{{ url }}">{{ url }}</a></h1>
          </p>
          <hr>
        {{else}}
          <p class="lead">Leech is a serverless, databaseless link shortener.</p>
        {{/if}}

        <p class="lead">
          <form class="form-inline" role="form" action="/" method="POST">
            <div class="form-group">
              <label class="sr-only" for="url">URL</label>
              <input style="width: 400px" type="text" class="form-control" name="url" placeholder="Enter a url to shorten">
            </div>
            <button type="submit" class="btn btn-lg btn-default">Shorten</button>
          </form>
        </p>
      </div>

      {{>footer}}

    </div>

  </div>

</div>
