<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      {{>header}} 

      <div class="inner cover">
        <h1 class="cover-heading">Setup</h1>
        <p class="lead">
          1) Select a domain. Arguable the hardest part. I like <a href="https://instantdomainsearch.com/">instantdomainsearch.com</a>.
        </p>
        <p class="lead">
          2) Register a domain name. I like <a href="https://namecheap.com/">namecheap.com</a>.
        </p>
        <p class="lead">
          3) <a href="https://support.google.com/analytics/answer/1008080?hl=en&ref_topic=1008079">Setup a Google Analytics account</a> for your domain and download your Google Analytics ID
        </p>
        <p class="lead">
          4) <a href="http://aws.amazon.com/">Setup an AWS Account</a> and download your AWS Access Key and AWS Secret Key
        </p>
        <p class="lead">
          5) Click this <a href="https://heroku.com/deploy?template=https://github.com/glamp/leech"><img src="https://www.herokucdn.com/deploy/button.png"></a> You'll need the following:
          <ul style="list-style: none;">
            <li>The name of your domain (from #1)</li>
            <li>Your AWS Access Key and Secret Key</li>
            <li><a href="https://support.google.com/analytics/answer/1032385?hl=en">Your Google Analytics ID</a></li>
          </ul>
        </p>
        <p class="lead">
          6) Configure your domain
        </p>
      </div>

      {{>footer}}

    </div>

  </div>

</div>
