<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      
      {{>header}} 

      <div class="inner cover">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Short URL</th>
              <th>Full URL</th>
            </tr>
          </thead>
          <tbody>
            {{#urls}}
              <tr>
                <td><a href="{{ key }}">{{ key }}</a></td>
                <td><a href="{{ url }}">{{ url }}</a></td>
              </tr>
            {{/urls}}
          </tbody>
        </table>

      {{>footer}}

    </div>

  </div>

</div>
